{
	admin off
	persist_config off
	auto_https off
	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT:80} {
	handle /api/* {
		reverse_proxy {
			dynamic a {
				name backend.railway.internal
				port 8000
				refresh 1s
				dial_timeout 30s
				versions ipv4 ipv6
			}
		}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
